@{
    ViewData["Title"] = "Add";
}
@using WebUI.Models.BookModels
@model CreateBookModel

<h4 class="fw-bold py-3 mb-4">Yazarlar</h4>
<div asp-validation-summary="ModelOnly">
</div>

<div class="card mb-4 w-75 mx-auto">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Kitap Ekle</h5>
    </div>
    <div class="card-body">
        <form asp-action="Add" asp-controller="Book" method="post">
            <div class="mb-3">
                <label class="form-label" for="bookName">Yazar İsmi</label>
                <input type="text" class="form-control" id="bookName" name="bookName" placeholder="Kitap İsmi">
                <span class="text-danger" asp-validation-for="BookName"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" for="pageCount">Sayfa Sayısı</label>
                <input type="number" class="form-control" id="pageCount" name="pageCount" placeholder="Sayfa Sayısı">
                <span class="text-danger" asp-validation-for="PageCount"></span>
            </div>

            <div class="mb-3">
                <label for="CategoryId" class="form-label">Kategorisi</label>
                <select class="form-select" id="CategoryId" name="CategoryId" aria-label="Kategorisi" asp-items="@(new SelectList(Model.Categories,"CategoryId","CategoryName"))">
                </select>
            </div>

            <div class="mb-3">
                <label for="AuthorId" class="form-label">Yazarı</label>
                <select class="form-select" id="AuthorId" name="AuthorId" aria-label="Yazarı" asp-items="@(new SelectList(Model.Authors,"AuthorId","AuthorName"))">
                </select>
            </div>

            <div class="mb-3">
                <label for="bookState" class="form-label">Kitap Durumu</label>
                <select class="form-select" id="bookState" name="bookState" aria-label="Kitap Durumu">
                    <option value="true">Etkin</option>
                    <option value="false">Devredışı</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Ekle</button>
        </form>
    </div>
</div>