@{
    ViewData["Title"] = "Privacy Policy";
}
@using Entities.Concrete;
@model List<Category>

<h1>@ViewData["Title"]</h1>


<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Category Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.CategoryId</th>
                <td>@item.CategoryName</td>
            </tr>
        }
        
    </tbody>
</table>



