@{
    ViewData["Title"] = "Add";
}
@model Category

<h4 class="fw-bold py-3 mb-4">Kategoriler</h4>

<div asp-validation-summary="ModelOnly">
</div>
<div class="card mb-4 w-75 mx-auto">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Kategori Ekle</h5>
    </div>
    <div class="card-body">
        <form asp-action="Add" asp-controller="Category" method="post">
            <div class="mb-3">
                <label class="form-label" for="categoryName">Kategori İsmi</label>
                <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="Kategori İsmi">
                <span class="text-danger" asp-validation-for="CategoryName"></span>
            </div>

            <div class="mb-3">
                <label for="categoryState" class="form-label">Kategori Durumu</label>
                <select class="form-select" id="categoryState" name="CategoryState" aria-label="Kategori Durumu">
                    <option value="true">Etkin</option>
                    <option value="false">Devredışı</option>
                </select>

            </div>

            <button type="submit" class="btn btn-primary">Ekle</button>
        </form>
    </div>
</div>

